html, body {height: 100%; width: 100%;margin: 0;}

@font-face { font-family: 'gaborbold';
             src: url('../fonts/bold.otf') format('opentype'); }



body {
    
    font-family: 'gaborbold';
    
    
 
}

/****** Layout Helper *****/

.height1 {height:calc(100vh/8);}
.height2 {height:calc(100vh/8*2);}
.height3 {height:calc(100vh/8*3);}
.height4 {height:calc(100vh/8*4);}
.height5 {height:calc(100vh/8*5);}
.height6 {height:calc(100vh/8*6);}
.height7 {height:calc(100vh/8*7);}
.height8 {height:100vh;}


.width1 {width:calc(100vw/5);}
.width2 {width:calc(100vw/5*2);}
.width3 {width:calc(100vw/5*3);}
.width4 {width:calc(100vw/5*4);}
.width5 {width:calc(100vw);}


/***** Transition  *******/



.container {
    background-color: #ccc;
    position: relative;
}

.orange {
    position: absolute;
    bottom: 0;
    background-color: orange;    
    transition-property: all;
    transition-duration: 0.2s;
}

.container:hover .orange {
    background-color: green;
    color: white;
    bottom: 3vh;
    transition-property: all;
    transition-duration: 2s,1s;
}




/***** ANimation  *******/


@keyframes gabor {
    
    0%   {background-color: red;}
    50%  {background-color: blue;margin-top:10vh;}
    100% {background-color: yellow;}
       
}

.schauspieler {
    height: 20vh;
    background-color: orange;
    animation-name: gabor;
    animation-duration: 10s;
}










